# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Elengenix Specific
Elengenix/config.yaml
Elengenix/reports/
Elengenix/custom_scripts/
reports/

# Tools logs
*.log
nuclei_results.txt
*_subs.txt
*_live.txt

# OS
.DS_Store
config.yaml
